<tr id="<%= dom_id file_upload %>">
  <td><%= file_upload.title %></td>
  <td><%= file_upload.description %></td>
  <td><%= file_upload.share_key %></td>
  <td><%= file_upload.file %></td>
  <td>
    <%= link_to "Show", file_upload, class: "btn btn-info btn-sm" %>
  </td>
</tr>